.logo
{
    margin-left: 10%;
}

body
{	
    overflow-x: hidden;
}
.pagina
{
    max-width:100%;
    margin: 0 auto;
}	

#info
{
    color: grey;
    font-size: 3.6vmin;
    text-align: center;
}

.logo-min
{
    margin-top: 13px;
}
.imagen11{
    position: relative;
}
#celda1{
    text-align:center;
}

.contenedor11{
    display:inline-block;
    position:relative;

    width:95%;
    /*margin:44%;*/
    margin-top:20vh;
    text-align:center;
}
#rotulo_e11_1{
    color:white;
    font-family: 'Merriweather', serif;
    margin-bottom:0px;
    padding-bottom:0px;
    position: relative;
    margin-top:0%;
}

.super11{
    position: relative; top: -1em; font-size: 0.5em;; 
}

#imagen1{
    display:inline-block;
    width:106%;
    height:80vh;
    background-image:url("../imgs/2.jpg");
    background-size: 100%;
}
#imagen2{
    display:inline-block;
    width:106%;
    height:80vh;
    background-image:url("../imgs/2.jpg");
    background-size: 100%;
}
#imagen22{
    display:inline-block;
    width:106%;
    height:80vh;
    background-image:url("../imgs/2.jpg");
    background-size: 100%;
}
.el_menu{
    display:inline-block;
}
#menu li a{
    text-decoration:none;
}

@media screen and (max-height: 600px){
    #imagen1{
        height:auto;
    }
    #menu{
        list-style:none;
    }
    #menu li{
        
        font-size:0.7em;
    }
}


@media screen and (min-height: 600px){
    #imagen1{
        min-height:100vh;
    }
     #imagen2{
        min-height:100vh;
    }
    #imagen22{
        min-height:100vh;
    }
    #menu{
        display:inline-box;
        padding-right:5%;
        float:right;
        text-align:right;
    }

    
    .el_menu{
        margin-left:1.5em;
    }
}

@media screen and (min-width: 1000px){
    #menu li{
        display:inline-block;
        font-size:0.7em;
    }
}

