@import url("comunindex.css");



.contenedor111{
    margin-top:10%;
    font-size:10vmin;

}

#rotulo_e11_1{
   top: 0.25em; 
}
#rotulo_admf{
    margin-top:0px;
    padding-top:0px;
    font-weight:bold;
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size:0.34em;
    margin-bottom:1em;
}
#rotulo_amg{
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size:0.48em;
}
#rotulo_rpsic{
    /*position: relative; top: -2.5em; */
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size:0.32em;
}


#menu li a{
    color:black;
}

