@import url("comunindex.css");

.boton{
    display:inline-block;
    width:45vw;
    height:45vw;
    vertical-align: top;
}

#boton1{
    background-image:url("../imgs/BOTONA.jpg");
}

#boton2{
    background-image:url("../imgs/BOTONB.jpg");
}



.contenedor11{
    
    font-size:7vmin;

}

#rotulo_e11_1{
   top: 0.25em; 
}
#rotulo_admf{
    margin-top:0px;
    padding-top:0px;
    font-weight:bold;
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size:0.34em;
    margin-bottom:1em;
}
#rotulo_amg{
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size:0.48em;
}
#rotulo_rpsic{
    /*position: relative; top: -2.5em; */
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size:0.32em;
}


.contenedor12{
   
    font-size:8vmin;
    margin-top:20vh;
}

#rotulo_e12_1{
    color:white;
    top: 0.18em; 
}
#rotulo_gej{
    margin-top:0px;
    padding-top:0px;
    font-weight:bold;
    font-family: 'Encode Sans Condensed', sans-serif;
    color:white;
    font-size:0.28em;
    margin-bottom:1em;
}

@media screen and (max-width: 700px){
    .boton{
        width:90vw;
        height:90vw;
    }
}